<style>
/* oscuro: 4e7ab1 - claro: 96b6de */
* { font-family:"Verdana"; font-size:small;}
body { font-family:"Verdana"; font-size:small; margin:0px; width:900px; margin:0px auto 10px auto; border-bottom:4px #4e7ab1 dotted;}
h1 { font-size:xx-large; background-color:#4e7ab1; color:#96b6de; margin:0px auto 0px auto; padding:20px;}
h2 { text-align:center; font-size:medium; border:1px dashed #4e7ab1; color:#96b6de; margin:0px auto 0px auto; width:80%; padding:20px;}
h3 { font-size:medium; border-bottom:1px dashed #4e7ab1; color:#96b6de; padding:20px;}
a , a:link , a:visited { text-decoration:underline; color:#333333;}
a:hover, a:visited:hover, a:active { text-decoration:none;}
.boton { background-color:#f1f1f1; border:1px solid #4e7ab1;padding:5px; text-decoration:none; color:#4e7ab1; padding-left:10px;padding-right:10px;}
.boton:hover { text-decoration:underline;border-left:4px solid #4e7ab1;padding-left:7px;}
form {width:90%; background-color:#96b6de; margin:0px auto 20px auto; border-radius: 14px; box-shadow: #999 0 .35em .6em; padding:20px;color:#ffffff;}
textarea { width:100%; border:1px solid #4e7ab1; background-color:#f1f1f1; border-radius: 14px;padding:6px; resize:vertical; max-height:300px; min-height:150px;}
input[type=submit] { cursor:pointer; position:relative;left:85%; background-color:#4e7ab1; width:120px; height:30px; border:0px; margin-top:10px; color:#ffffff; font-weight:bold; border-left:4px solid #ffffff; text-align:left;}
input[type=submit]:hover { border-color:#4e7ab1; color:#4e7ab1; background-color:#ffffff; }
pre { background-color:#f1f1f1; width:90%; margin:0px auto 0px auto; padding:10px; border-radius: 14px; height:100px; overflow:scroll;}
.normal { color:#4e7ab1; padding:10px; text-align:center;}
.note { float:right; background-color:#f1f1f1; font-size:x-small; padding:5px; width:200px; text-align:center; border-radius: 14px; margin:5px 20px auto auto; box-shadow: #999 0 .35em .6em; }
.onetp { color: #4e7ab1; font-weight: bold; }
.error{ background-color: #E07471; border-radius: 10px 10px 10px 10px; box-shadow: 0 0.35em 0.6em #333; color: #FFF; margin: 20px auto 20px; padding: 20px; width: 90%;}
</style>
